.signup-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    font-family: Arial, sans-serif;
    background: transparent;
}

.signup-form {
    background: rgba(0, 0, 0, 0.7);
    padding: 2rem;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
    width: 90%;
    max-width: 400px;
    border-radius: 2rem;
    /* 둥근 모서리 */
}

.form-group {
    margin-bottom: 1rem;
}


.submit-button {
    width: 100%;
    padding: 0.8rem;
    background: linear-gradient(to right, #ff8a80, #ff6e7f);
    border: none;
    color: #fff;
    font-size: 1rem;
    cursor: pointer;
    transition: background 0.3s;
    border-radius: 2rem;
    /* 둥근 모서리 */
}

.submit-button:hover {
    background: linear-gradient(to right, #ff6e7f, #ff8a80);
}

.submit-button-both {
    width: auto; /* 가로폭을 내용에 맞게 줄임 */
    min-width: 8rem; /* 최소 가로폭 설정 */
    padding: 0.8rem 1.5rem; /* 좌우 패딩 추가 */
    background: linear-gradient(to right, #ff8a80, #ff6e7f);
    border: none;
    color: #fff;
    font-size: 1rem;
    cursor: pointer;
    transition: background 0.3s;
    border-radius: 2rem; /* 둥근 모서리 */
}

.submit-button-both:hover {
    background: linear-gradient(to right, #ff6e7f, #ff8a80);
}
